body{
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b;
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
}

.head-left img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover{
    opacity: 0.7;
}

.head-right{
    display: flex;
}

.head-right a{
    text-decoration: none;
    padding-left: 25px;
    color: white;
    font-size: 12px;
}

/* Hero section */
.hero-section{
    height: 100vh;
    width: 100%;
    position: relative ;
    overflow: hidden;
}

.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info{
    position: absolute;
    top: 80px;
    left: 50px;
    z-index: 1;
}
.hero-info h1{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}
.hero-info p{
    color: white;
    max-width: 210px;
}
.hero-info button{
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}
.hero-info button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;
}

.gaming-text{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.nxt-btn{
    width: 200px;
    height: 200px;
    background-color: #edff66;
    border-radius: 50%;
    position:absolute;
    right: 40%;
    bottom: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
}
.nxt-btn:hover{
    height: 200px;
    width: 200px;
    opacity: 0.5 ;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.612);
}

/* About section */
.about-section{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.image-box{
    width: 360px;
    height: 510px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-section p{
    font-size: 15px;
}

.about-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 120px;
    max-width: 1150px;
    text-align: center;
    margin: 25px;
    text-transform: uppercase;
    background: linear-gradient( to right , #4acfee , #53f8c9 , #02d79a , #6070fd , #2a46ff ,#0099ff , #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite ;
}
@keyframes animate-gradient {
    to{
        background-position:200%
    }
}

.about-section h4{
    margin-top: 50px;
    margin-bottom: 0;
}

.about-section h5{
    margin-top: 5px;
    color: gray;
    max-width: 425px;
    text-align: center;
    line-height: 25px;
}


/* Info section */
.info-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-top: 100px;
}

.info-section h3{
    margin-bottom: 0;
}

.info-section p{
    margin-top: 5px;
    color: gray;
    max-width: 400px;
    line-height: 25px;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card{
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.5s;
}
.card h1{
    position: absolute;
    margin: 0;
    top: 10px;
    left: 5% ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    z-index: 1;
    background: linear-gradient( to right , #4acfee , #53f8c9 , #02d79a , #6070fd , #2a46ff ,#0099ff , #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite ;
}
.card p{
    position: absolute;
    top: 80px;
    left: 5%;
    z-index: 1;
    max-width: 250px;
    color: lightgray;
}
.card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card button{
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;
}
.card button:hover{
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;
}
.card:hover{
    box-shadow: 0 0 15px rgb(190, 190, 190);
}
/* setting individual card */
.card:nth-child(1){
    grid-column: span 2;
}
.card:nth-child(2){
    grid-row: span 2;
    height: 84vh;
}


/* CONTACT SECTION */
.contact-section{
    position: relative ;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.contact-section .img1{
    position: absolute;
    top: 10%;
    right: 20px;
    height: 375px;
    clip-path: polygon(29% 5%, 90% 1%, 77% 100%, 0% 100%);
}
.contact-section .img2{
    position: absolute;
    top: 10px;
    left: 50px;
    height: 200px;
    clip-path: polygon(31% 13%, 77% 6%, 96% 50%, 75% 100%, 32% 93%, 3% 56%);
}
.contact-section .img3{
    position: absolute;
    left: 5%;
    bottom: 15%;
    height: 250px;
    width: 250px;
    clip-path: polygon(50% 0%, 94% 54%, 78% 91%, 27% 86%, 7% 41%);
}

.contact-section p{
    margin-top: 100px;
}
.contact-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    max-width: 550px;
    text-align: center;
    background: linear-gradient( to right , #4acfee , #53f8c9 , #02d79a , #6070fd , #2a46ff ,#0099ff , #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite ;
}

.contact-section button{
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;
}
.contact-section button:hover{
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;
}