body{
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b;
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
}

.head-left img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover{
    opacity: 0.7;
}

.head-right{
    display: flex;
}

.head-right a{
    text-decoration: none;
    padding-left: 25px;
    color: white;
    font-size: 12px;
}

/* Hero section */
.hero-section{
    height: 100vh;
    width: 100%;
    position: relative ;
    overflow: hidden;
}

.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info{
    position: absolute;
    top: 80px;
    left: 50px;
    z-index: 1;
}
.hero-info h1{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 30px 0 20px 0;
}
.hero-info p{
    color: white;
    max-width: 210px;
}
.hero-info button{
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}
.hero-info button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;
}

.gaming-text{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.nxt-btn{
    width: 200px;
    height: 200px;
    background-color: #edff66;
    border-radius: 50%;
    position:absolute;
    right: 40%;
    bottom: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
}
.nxt-btn:hover{
    height: 200px;
    width: 200px;
    opacity: 0.5 ;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.612);
}